* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(rgba(105, 11, 66, 0.767), rgb(16, 108, 131));
    font-family: sans-serif
}

#navbar {
    background-color: rgba(180, 21, 82, 0.678);
    padding: 24px;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-size: 12px;
}

#navbar a {
    text-decoration: none;
    color: white;
    margin: 0px 12px;
}

#logo-text {
    font-size: 24px;
}

#navbar a {
    text-decoration: none;
    color: white;
    margin: 0px 12px;
}

#grid-layout {
    display: grid;
    margin: 36px 0px;
    grid-template-columns: 1fr 250px;
    grid-template-areas: "content sidebar";
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}

#main-content {
    grid-area: content;
    padding: 12px;
    background-color: rgba(224, 40, 111, 0.788);
    border: 2px solid white;
    box-shadow: 6px 6px 6px black;
    margin: 0px 48px;
    color: #e7e7e7;
}

#sidebar-content h2{
    background-color: rgb(224, 40, 111);
    padding: 12px;
    margin: 0px;
    color: white;
    font-size: 18px;
}

#sidebar-content ul{
   background-color: #d0dde4;
   border: 1px solid rgb(255, 255, 255);
   margin: 0px 0px 36px;
   list-style: none;
   padding: 0px 12px;
}

#sidebar-content a{
    color: darkslategray;
    text-decoration: none;
 }

 #sidebar-content li{
    border-bottom: 1px solid darkslategray;
    padding: 8px 0px;
 }

 #sidebar-content ul, #sidebar-content h2{
    box-shadow: 6px 6px 6px black;
    border: 2px solid white;
 }

 #sidebar-content li:last-child{
    border-bottom: 0px
 }

 #noctis {
    display: flex;
    margin-bottom: 60px;
 }

#noctis img {
    width: 200px;
}

#steve {
    display: flex;
    margin-bottom: 60px;
 }

 
#steve img {
    width: 200px;
}

#main-content h1 {
    margin: 0px;
}

#sidebar-content h2 {
    border-bottom: none;
}

