/* Drill 1 - Write your code solution below */
#d1-div1{
    border: 5px solid red;
    border-radius: 12px;
}

#d1-div1 p {
    margin: 12px;
    padding: 6px;
}

#d1-div2{
    border: 5px solid orange;
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#d1-div2 p{
    margin: 12px;
    padding: 12px;
    color: limegreen;
}

#d1-div3{
    border: 5px solid red;
    border-radius: 12px;
}

#d1-div3 p {
    margin: 12px;
    padding: 6px;
}
/* Drill 2 - Write your code solution below */



/* Drill 3 - Write your code solution below */



/* Drill 4 - Write your code solution below */



/* Drill 5 - Write your code solution below */


