* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.single-column {
    width: 60%;
    min-width: 500px;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
    font-family: sans-serif;
}

.single-column img {
    width: 50%;
}

.container-1 {
    background: linear-gradient(rgb(0, 0, 0), rgb(61, 12, 61), purple);
    padding: 48px 0px;
    color: whitesmoke;
}

.container-2 {
    background: linear-gradient(purple, rgb(51, 10, 48), rgb(15, 16, 36));
    padding: 48px 0px;
    color: white;
}

.container-3 {
    background: linear-gradient(rgb(15, 16, 36), rgb(13, 1, 34));
    padding: 48px 0px;
    color: white;
}
